<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Todo </title>
  </head>
  <body>
    <h1>Stuff i need to do</h1>
    <form  action="/todo" method="post">
      <input type="text" name="todo-text" value="" placeholder="Add your task here...">
      <button type="submit" name="button">Add</button>
    </form>
  </body>
</html>
